html,
body {
    height: 100vh;
}

body {
    font-family: 'Overpass', sans-serif;
}

:root {
    --block-padding: 30px;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template: 1fr / 300px 1fr;
}

.side-block {
    background-color: rgb(35, 44, 57);
    color: white;
    padding: var(--block-padding);

    display: grid;
    grid-template: min-content min-content 1fr / 1fr;
    gap: 24px;
}

.app-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1ch;

    margin-bottom: 20px;

    & h1 {
        margin: 0;
    }
}

.option-container {
    display: grid;
    grid-template: 1fr / 1fr min-content;
}

.options,
.project-options,
.todo-options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.option {
    height: min-content;

    &:hover {
        cursor: pointer;
    }
}

.special-list,
.project-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template: min-content / minmax(0, 1fr);
    gap: 15px;
}

.project-item {
    display: grid;
    grid-template: 1fr / 1fr min-content;
    gap: 8px;
}

.special-button,
.project-button {
    padding: 0;
    border: none;
    background-color: inherit;
    color: inherit;

    font-size: 1.3em;
    text-align: left;

    display: flex;
    gap: 8px;

    &:hover {
        cursor: pointer;
    }
}

.project-options {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
}

.selected {
    color: rgb(255, 111, 21);
}

.creator-dialog {
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: rgb(76, 90, 108);
    color: white;

    &::backdrop {
        backdrop-filter: grayscale(20%) blur(5px);
    }
    &[open] {
        display: grid;
        grid-template: 1fr / 1fr;
    }
}

.creator-form {
    --creator-inner-padding: 10px 16px;
}

.creator-header {
    background-color: rgb(40, 50, 63);
    font-size: 1.15em;
    padding: var(--creator-inner-padding); 
}

.creator-content {
    padding: var(--creator-inner-padding);
}

.creator-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
}

.creator-options {
    padding: var(--creator-inner-padding);
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.creator-option {
    border: 0;
    flex: 1;

    background-color: rgb(55, 66, 82);
    padding: 4px 8px;
    border-radius: 5px;
    color: white;

    &:hover,
    &:focus {
        background-color: rgb(40, 50, 63);
    }
}

.main-block {
    background-color: rgb(55, 66, 82);
    color: white;

    display: grid;
    grid-template: 1fr min-content / 1fr;
}

.header {
    background-color: rgb(40, 50, 63);
    padding: 35px 40px;
    display: grid;
    align-items: center; 
}

.project-name {
    /* 
        Even though "word-break: break-word" is deprecated, it appears that it 
        is the only workaround around this inherent grid bug: 
        https://github.com/rachelandrew/gridbugs/issues/46
    */
    word-break: break-word;
    margin: 0;
}

.todo-list {
    list-style-type: none; 
    box-sizing: border-box;
    margin: 0;
    padding: var(--block-padding); 

    display: grid;
    grid-template: 1fr / 1fr; 
    gap: 16px;
}

.todo-card {
    min-height: 30px;
    padding: 10px;
    background-color: rgb(76, 90, 108);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(40, 50, 63);

    display: grid;
    grid-template: 
        1fr /
        min-content repeat(2, fit-content(100%))
        minmax(max-content, 1fr) max-content min-content
    ;
    align-items: center;
    gap: 24px;

    &:hover {
        filter: brightness(1.15);
    }
    &.completed {
        opacity: 0.4;
    }
    &.overdue {
       background-color: rgb(119, 79, 89); 
    }
}

.todo-title,
.todo-description,
.text-box {
    word-break: break-word;
}

.todo-options {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-box {
    margin: 4px 0 8px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(40, 50, 63);
    color: inherit;

    resize: vertical;
}

.todo-due-date,
.todo-priority {
    text-align: right;

    .todo-details & {
        text-align: inherit;
    }
}

.todo-details {
    margin-bottom: 32px;
    padding: 10px;
    background-color: rgb(48, 58, 73);

    display: grid;
    grid-template: 1fr / 1fr;
    gap: 15px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detail-name {
    font-weight: bold;
    text-decoration: underline;
}

.detail-value {
    word-break: break-word;
    &::before {
        content: '- ';
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;

    padding: 10px;

    & a {
        color: inherit;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5ch;

        &:hover,
        &:focus {
            color: rgb(255, 111, 21);
        }
    }
}
